<div class="card shadow-sm mb-4 launch-notice">
    <div class="card-header p-0">
        <button
            class="btn btn-light w-100 text-start px-3 py-2 launch-notice-toggle"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#launchNotice"
            aria-expanded="{% if request.user.is_authenticated %}false{% else %}true{% endif %}"
            aria-controls="launchNotice"
        >
            <span class="launch-notice-caret" aria-hidden="true"></span>
            <strong>Welcome to the New An Tir Authorization Portal</strong>
        </button>
    </div>
    <div id="launchNotice" class="collapse{% if not request.user.is_authenticated %} show{% endif %}">
        <div class="card-body">
            <p>
                Welcome to the new online portal for An Tir martial authorizations!
            </p>
            <p>
                This system has been in development for several months and will be used for all An Tir authorizations going forward. This new site supports all of the same functions as the previous system as well as several additional features. Most exciting of all is that it includes the ability for marshals to upload authorizations directly online rather than needing to fill out paper forms!
            </p>
            <p>
                We know this change is very sudden, but there was an emergency which forced us to expedite this transition. The previous system is now permanently unavailable and, unfortunately, some of the more recent authorizations have been deleted. You can read more about this situation on the <a href="https://antir.org/announcements/new-authorization-portal/">An Tir Website</a>. We are working on restoring all of those from the archived forms and expect to have everything up to date within the next few weeks. We apologize for any inconvenience this may cause.
            </p>
            <p>
                We are looking on the bright side of this, and we hope you will find this new system easier to use. In order to make this transition as smooth as possible, we have produced training videos to help you get started with the new system and every user of the site already has an account set up for them. 
            </p>
            <p>
                We will be sending out account setup links in batches in order to avoid hitting spam limits, but if you would like to receive your account setup link sooner you can go to your fighter page and request it directly. These account setup emails will be sent to the email address that was filed during your last authorization. If you no longer have access to that email, you can fill out a request for email update form on the contact page.
            </p>
            <p>
                <a
                    href="https://www.youtube.com/playlist?list=PLJmmPor-P9kcPjxOokyyBJZYO2lYxm8QL"
                    class="btn btn-primary"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Watch Training Videos
                </a>
                <a href="{% url 'search' %}?goal=search" class="btn btn-outline-primary ms-2">Find Your Fighter Page</a>
            </p>
        </div>
    </div>
</div>
