{% extends "outer_layout.html" %}
{% load static %}

{% block title %}
    Contact
{% endblock %}

{% block body %}
    <h1>Contact</h1>
    <p>If you wish to add an authorization or adjust any discrepancy you see with your entry, please email the Martial Authorization Officer (Marshal.Authorizations@antir.org).</p>
    <p>Questions regarding Equestrian authorizations should be directed to the Equestrian Authorization Deputy (Equestrian.Marshal.Authorizations@antir.org).</p>
    <p>Signed forms should be emailed to the appropriate officer above (in PDF format or as a photo):</p>
    <p>If you discover a bug, or need to submit a feature request, please fill out the form below:</p>
    <p>
        <a href="https://forms.fillout.com/t/ohahmyrs2tus"
           class="btn btn-danger" target="_blank" rel="noopener noreferrer">
            Report a Bug
        </a>
    </p>

{% endblock %}

{% block script %}

{% endblock %}
