{% extends "outer_layout.html" %}
{% load static %}

{% block title %}
    Forms
{% endblock %}

{% block body %}
    <h1>Forms</h1>
    <p>These are the authorization forms. You can also access these, and the rule books, by going to the <a href="https://antir.org/library/" target="_blank">An Tir Library</a>.</p>
    <p>If you use the paper forms, they can be scanned and emailed to the <a href="mailto:marshal.authorizations@antir.org">Martial Authorization Officer</a>.</p>
    <p>When sending in an authorization if the person being authorized is a minor or isn't a member, they need to sign the appropriate waiver as well.</p>
    <div class="col-md-6">
        <table>
        <tr>
            <th>Form</th>
            <th>Link</th>
        </tr>
        <tr>
            <td>Four Year Authorization Form</td>
            <td><a href="https://antirsca.sharepoint.com/:b:/s/library/EbXNYEL50utPsctj53SqiUEBdmdkXL0VfMQCDkRXBbLMXA?e=N03e0l" target="_blank">https://antirsca.sharepoint.com/:b:/s/library/EbXNYEL50utPsctj53SqiUEBdmdkXL0VfMQCDkRXBbLMXA?e=N03e0l</a></td>
        </tr>
        <tr>
            <td>Four Year Equestrian Authorization Form</td>
            <td><a href="https://antirsca.sharepoint.com/:b:/s/library/EYV6dUIWLABOppo5p5iymYQBTzQBkFTYsMlukc0LPNCd2w?e=CnVIHC" target="_blank">https://antirsca.sharepoint.com/:b:/s/library/EYV6dUIWLABOppo5p5iymYQBTzQBkFTYsMlukc0LPNCd2w?e=CnVIHC</a></td>
        </tr>
        <tr>
            <td>Marshal Promotion Form</td>
            <td><a href="https://antirsca.sharepoint.com/:b:/s/library/EZqYtASNb35Oo8Vv22sT5H8BHPgiegsjadm1IPkF4BCTOw?e=GcniEE" target="_blank">https://antirsca.sharepoint.com/:b:/s/library/EZqYtASNb35Oo8Vv22sT5H8BHPgiegsjadm1IPkF4BCTOw?e=GcniEE</a></td>
        </tr>
        <tr>
            <td>Adult Waiver</td>
            <td><a href="https://antirsca.sharepoint.com/:b:/s/library/EYvJAInpFqdIkYHpiUz9CT8B0D4OOYz779QJNDiX3WHdZg?e=dtNNhi" target="_blank">https://antirsca.sharepoint.com/:b:/s/library/EYvJAInpFqdIkYHpiUz9CT8B0D4OOYz779QJNDiX3WHdZg?e=dtNNhi</a></td>
        </tr>
        <tr>
            <td>Youth Authorization Form</td>
            <td><a href="https://antirsca.sharepoint.com/:b:/s/library/EfINvRbLPYdAmhoyAb9qBZkBnkhiEqsADQRCyK_qZlyH8g?e=VcFvs3" target="_blank">https://antirsca.sharepoint.com/:b:/s/library/EfINvRbLPYdAmhoyAb9qBZkBnkhiEqsADQRCyK_qZlyH8g?e=VcFvs3</a></td>
        </tr>
        <tr>
            <td>Youth Waiver</td>
            <td><a href="https://antirsca.sharepoint.com/:b:/s/library/EaVqduMbaFNOkKKawwKyA-kBvfm79DdYX6x11yzzHFK0uw?e=andyg5" target="_blank">https://antirsca.sharepoint.com/:b:/s/library/EaVqduMbaFNOkKKawwKyA-kBvfm79DdYX6x11yzzHFK0uw?e=andyg5</a></td>
        </tr>
        </table>
    </div>
{% endblock %}

{% block script %}

{% endblock %}