{% extends "outer_layout.html" %}
{% load static %}

{% block title %}
    An Tir Lists Database
{% endblock %}

{% block body %}
    <h1>An Tir Lists Database</h1>
    <p>Welcome to the An Tir Lists Database!</p>
    <p>This website is the authorization portal for the Kingdom of An Tir.</p>
    <p>Use the menu above to navigate to the different sections of the website.</p>
    <p>In order to view the authorizations you can click "Authorizations" in the menu above or click the button below to browse the database.</p>
    <p><a href="{% url 'search' %}" class="btn btn-primary">Browse Authorizations</a></p>
    
{% endblock %}

{% block script %}
{% endblock %}
