{% extends "outer_layout.html" %}
{% load static %}

{% block title %}
    An Tir Lists Database
{% endblock %}

{% block body %}
    <h1>An Tir Lists Database</h1>
    <p>Welcome to the An Tir Lists Database!</p>
    <p>This website is a prototype of the new authorization database developed by Feradach mac Tralin.</p>
    <p>This outer area has the welcome page, the contact page, and forms page. There is also a link to the authorization database.
        Please explore around and make sure to send any feedback to Feradach.</p>
{% endblock %}

{% block script %}

{% endblock %}