{% extends "outer_layout.html" %}
{% load static %}

{% block title %}
    Roadmap
{% endblock %}

{% block body %}
    <h1>Roadmap</h1>
    <p>This page is a work in progress. Please check back often for updates.</p>
    <p>Current Roadmap:</p>
    <ul>
        <li>Launch on the official website.</li>
        <li>Download search results.</li>
        <li>Create reports and charts.</li>
    </ul>
    <p>Future Roadmap:</p>
    <ul>
        <li>Check in at fighter practices.</li>
        <li>Integrated phone app.</li>
        <li>Offline database access.</li>
        <li>Create and run tournaments.</li>
    </ul>
    <p>If you have additional features which you believe would be useful, please let Feradach know at viperzka@gmail.com.</p>
{% endblock %}

{% block script %}
{% endblock %}