{% extends "outer_layout.html" %}
{% load static %}

{% block title %}
    Roadmap
{% endblock %}

{% block body %}
    <h1>Roadmap</h1>
    <p>This page is a work in progress. Please check back often for updates.</p>
    <p>If you discover a bug, or need to submit a feature request, please fill out the form below:</p>
    <p>
        <a href="https://forms.fillout.com/t/ohahmyrs2tus"
           class="btn btn-danger" target="_blank" rel="noopener noreferrer">
            Report a Bug
        </a>
    </p>
    <h2>Changelog</h2>
    <p>A log of the changes that have been made can be found <a href="{% url 'changelog' %}">here</a>.</p>

    <h2>Current Roadmap:</h2>
    <ul>
        <li>Launch on the official website.</li>
        <li>Create charts.</li>
    </ul>
    
    <h2>Future Roadmap:</h2>
    <ul>
        <li>Check in at fighter practices.</li>
        <li>Integrated phone app.</li>
        <li>Offline database access.</li>
        <li>Create and run tournaments.</li>
    </ul>
{% endblock %}

{% block script %}
{% endblock %}
